<div class="leiaut">
  <div class="container">
    <div class="buttons">
      <button (click)="showContent(1)" [ngClass]="{'ativo': botaoAtivo === 1}">FOREX</button>
      <button (click)="showContent(2)" [ngClass]="{'ativo': botaoAtivo === 2}">CRYPTO</button>
      <button (click)="showContent(3)" [ngClass]="{'ativo': botaoAtivo === 3}">INDEXES</button>
      <button (click)="showContent(4)" [ngClass]="{'ativo': botaoAtivo === 4}">STOCKS</button>
      <button (click)="showContent(5)" [ngClass]="{'ativo': botaoAtivo === 5}">COMMODITIES</button>
      <!-- <button (click)="showContent(6)" [ngClass]="{'ativo': botaoAtivo === 6}">COMMODITIES</button> -->
    </div>

    <div class="content">
      <div class="conteudo flex-row" *ngIf="selectedContent === 1">
        <div class="conteudo-ativo">
          <div class="leiaut-ativo">
            <div class="bloco-01">
              <div class="title">
                <p>Invest in global market with <span class="yellow">FOREX</span> and take advantage of the best opportunities all in one place, make your account now.</p>
              </div>
              <div class="btns">
                <button class="botaoAtivo">Start Trading</button>
                <p>View more</p>
               </div>
              <div class="texto">
                <p>Discover trading opportunities across markets with our Advanced Trading interface Make smarter trades with deep liquidity powerfull charting capabilities, and ultra-low fees you won't find on other exchanges.</p>
              </div>
            </div>
            <div class="bloco-02">
              <img src="../../../assets/forex-ig.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="conteudo flex-row" *ngIf="selectedContent === 2">
        <div class="leiaut-ativo">
          <div class="bloco-01">
            <div class="title">
              <p>Invest in global market with <span class="yellow">CRYPTO</span> and take advantage of the best opportunities all in one place, make your account now.</p>
            </div>
            <div class="btns">
              <button class="botaoAtivo">Start Trading</button>
              <p>View more</p>
             </div>
            <div class="texto">
              <p>Discover trading opportunities across markets with our Advanced Trading interface Make smarter trades with deep liquidity powerfull charting capabilities, and ultra-low fees you won't find on other exchanges.</p>
            </div>
          </div>
          <div class="bloco-02">
            <img src="../../../assets/cripto-ig.png" alt="">
          </div>
        </div>
      </div>
      <div class="conteudo flex-row" *ngIf="selectedContent === 3">
        <div class="leiaut-ativo">
          <div class="bloco-01">
            <div class="title">
              <p>Invest in global market with <span class="yellow">INDEXES</span> and take advantage of the best opportunities all in one place, make your account now.</p>
            </div>
            <div class="btns">
              <button class="botaoAtivo">Start Trading</button>
              <p>View more</p>
             </div>
            <div class="texto">
              <p>Discover trading opportunities across markets with our Advanced Trading interface Make smarter trades with deep liquidity powerfull charting capabilities, and ultra-low fees you won't find on other exchanges.</p>
            </div>
          </div>
          <div class="bloco-02">
            <img src="../../../assets/acoes-ig.png" alt="">
          </div>
        </div>
      </div>
      <div class="conteudo flex-row" *ngIf="selectedContent === 4">
        <div class="leiaut-ativo">
          <div class="bloco-01">
            <div class="title">
              <p>Invest in global market with <span class="yellow">STOCKS</span> and take advantage of the best opportunities all in one place, make your account now.</p>
            </div>
            <div class="btns">
              <button class="botaoAtivo">Start Trading</button>
              <p>View more</p>
             </div>
            <div class="texto">
              <p>Discover trading opportunities across markets with our Advanced Trading interface Make smarter trades with deep liquidity powerfull charting capabilities, and ultra-low fees you won't find on other exchanges.</p>
            </div>
          </div>
          <div class="bloco-02">
            <img src="../../../assets/acoes-ig.png" alt="">
          </div>
        </div>
      </div>
      <div class="conteudo flex-row" *ngIf="selectedContent === 5">
        <div class="leiaut-ativo">
          <div class="bloco-01">
            <div class="title">
              <p>Invest in global market with <span class="yellow">COMMODITIES</span> and take advantage of the best opportunities all in one place, make your account now.</p>
            </div>
            <div class="btns">
              <button class="botaoAtivo">Start Trading</button>
              <p>View more</p>
             </div>
            <div class="texto">
              <p>Discover trading opportunities across markets with our Advanced Trading interface Make smarter trades with deep liquidity powerfull charting capabilities, and ultra-low fees you won't find on other exchanges.</p>
            </div>
          </div>
          <div class="bloco-02">
            <img src="../../../assets/commodities-ig.png" alt="">
          </div>
        </div>
      </div>
      <div class="conteudo flex-row" *ngIf="selectedContent === 6">
        <div class="leiaut-ativo">
          <div class="bloco-01">
            <div class="title">
              <p>Invest in global market with <span class="yellow">FOREX</span> and take advantage of the best opportunities all in one place, make your account now.</p>
            </div>
            <div class="btns">
              <p class="botaoAtivo">Start Trading</p>
              <p>View more</p>
             </div>
            <div class="texto">
              <p>Discover trading opportunities across markets with our Advanced Trading interface Make smarter trades with deep liquidity powerfull charting capabilities, and ultra-low fees you won't find on other exchanges.</p>
            </div>
          </div>
          <div class="bloco-02">
            <img src="../../../assets/commodities-ig.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

</div>