<div class="leiaut">
  <div class="container">
    <div class="buttons">
      <button (click)="showContent(1)" [ngClass]="{'ativo': botaoAtivo === 1}">FOREX</button>
      <button (click)="showContent(2)" [ngClass]="{'ativo': botaoAtivo === 2}">CRYPTO</button>
      <button (click)="showContent(3)" [ngClass]="{'ativo': botaoAtivo === 3}">INDEXES</button>
      <button (click)="showContent(4)" [ngClass]="{'ativo': botaoAtivo === 4}">STOCKS</button>
      <button (click)="showContent(5)" [ngClass]="{'ativo': botaoAtivo === 5}">ENERGY</button>
      <button (click)="showContent(6)" [ngClass]="{'ativo': botaoAtivo === 6}">COMMODITIES</button>
    </div>

    <div class="content">
      <div class="conteudo flex-row" *ngIf="selectedContent === 1">
        <div class="conteudo-ativo">
          <div class="leiaut-ativo">
            <div class="bloco-01">
              <div class="title">
                <p>Invest in global market and take advantage of the best opportunities all in one place, make your account now.</p>
              </div>
              <div class="btns">
                <button class="botaoAtivo">Start Trading</button>
                <p>View more</p>
               </div>
              <div class="texto">
                <p>Discover trading opportunities across markets with our Advanced Trading interface Make smarter trades with deep liquidity powerfull charting capabilities, and ultra-low fees you won't find on other exchanges.</p>
              </div>
            </div>
            <div class="bloco-02">
              <img src="https://img.freepik.com/fotos-gratis/ondas-senoidais-brilhantes-criam-um-design-de-cenario-futurista-gerado-por-ia_188544-36480.jpg?w=1060&t=st=1695214239~exp=1695214839~hmac=00dce18b07650e2e1055aeb8094ec27a8316d465fff8150c1f926c4da70d761f" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="conteudo flex-row" *ngIf="selectedContent === 2">
        <div class="leiaut-ativo">
          <div class="bloco-01">
            <div class="title">
              <p>Invest in global market and take advantage of the best opportunities all in one place, make your account now.</p>
            </div>
            <div class="btns">
              <button class="botaoAtivo">Start Trading</button>
              <p>View more</p>
             </div>
            <div class="texto">
              <p>Discover trading opportunities across markets with our Advanced Trading interface Make smarter trades with deep liquidity powerfull charting capabilities, and ultra-low fees you won't find on other exchanges.</p>
            </div>
          </div>
          <div class="bloco-02">
            <img src="https://img.freepik.com/fotos-gratis/moeda-cyrpto-depositada-no-design-de-ilustracao-do-telefone_826849-629.jpg?w=740&t=st=1695214029~exp=1695214629~hmac=682e1b490c03de67df56ec2fe2ee727213c973a4c31aa0163e64c46c775f619d" alt="">
          </div>
        </div>
      </div>
      <div class="conteudo flex-row" *ngIf="selectedContent === 3">
        <div class="leiaut-ativo">
          <div class="bloco-01">
            <div class="title">
              <p>Invest in global market and take advantage of the best opportunities all in one place, make your account now.</p>
            </div>
            <div class="btns">
              <button class="botaoAtivo">Start Trading</button>
              <p>View more</p>
             </div>
            <div class="texto">
              <p>Discover trading opportunities across markets with our Advanced Trading interface Make smarter trades with deep liquidity powerfull charting capabilities, and ultra-low fees you won't find on other exchanges.</p>
            </div>
          </div>
          <div class="bloco-02">
            <img src="https://img.freepik.com/fotos-gratis/conceito-de-negocio-com-holografia-grafica_23-2149160929.jpg?w=900&t=st=1695214136~exp=1695214736~hmac=44c31f5ba16d73d7174bbb105d474ca169c26660f6fa3f33c2c95e67539f2d0d" alt="">
          </div>
        </div>
      </div>
      <div class="conteudo flex-row" *ngIf="selectedContent === 4">
        <div class="leiaut-ativo">
          <div class="bloco-01">
            <div class="title">
              <p>Invest in global market and take advantage of the best opportunities all in one place, make your account now.</p>
            </div>
            <div class="btns">
              <button class="botaoAtivo">Start Trading</button>
              <p>View more</p>
             </div>
            <div class="texto">
              <p>Discover trading opportunities across markets with our Advanced Trading interface Make smarter trades with deep liquidity powerfull charting capabilities, and ultra-low fees you won't find on other exchanges.</p>
            </div>
          </div>
          <div class="bloco-02">
            <img src="https://img.freepik.com/fotos-gratis/rastreamento-de-pulso-brilhando-no-monitor-do-computador-gerado-por-ia_24640-89894.jpg?w=1060&t=st=1695214176~exp=1695214776~hmac=f7b6b1a84e201d72952b4f43bae6c42c08a4cbd299a18a62b174c52794ff50ba" alt="">
          </div>
        </div>
      </div>
      <div class="conteudo flex-row" *ngIf="selectedContent === 5">
        <div class="leiaut-ativo">
          <div class="bloco-01">
            <div class="title">
              <p>Invest in global market and take advantage of the best opportunities all in one place, make your account now.</p>
            </div>
            <div class="btns">
              <button class="botaoAtivo">Start Trading</button>
              <p>View more</p>
             </div>
            <div class="texto">
              <p>Discover trading opportunities across markets with our Advanced Trading interface Make smarter trades with deep liquidity powerfull charting capabilities, and ultra-low fees you won't find on other exchanges.</p>
            </div>
          </div>
          <div class="bloco-02">
            <img src="../../../assets/celular.svg" alt="">
          </div>
        </div>
      </div>
      <div class="conteudo flex-row" *ngIf="selectedContent === 6">
        <div class="leiaut-ativo">
          <div class="bloco-01">
            <div class="title">
              <p>Invest in global market and take advantage of the best opportunities all in one place, make your account now.</p>
            </div>
            <div class="btns">
              <p class="botaoAtivo">Start Trading</p>
              <p>View more</p>
             </div>
            <div class="texto">
              <p>Discover trading opportunities across markets with our Advanced Trading interface Make smarter trades with deep liquidity powerfull charting capabilities, and ultra-low fees you won't find on other exchanges.</p>
            </div>
          </div>
          <div class="bloco-02">
            <img src="https://img.freepik.com/fotos-gratis/colunas-de-moedas-na-grama_155003-12338.jpg?w=900&t=st=1695214086~exp=1695214686~hmac=179f1a2b0b9b6a0a3c83ce97965d9820f5e430145ccfd3c66fedffbfeeb8450f" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

</div>