<div class="leiaut">
    <div class="container">
        <div class="bloco-01">
            <div class="video">
                <video src="../../../assets/video2.mp4" autoplay loop muted></video>
            </div>
        </div>
        <div class="bloco-02">
            <div class="title">
                <p><span class="yellow">Skilling Trader</span> is a direct result of our company's years of hard work to create a unique, simple and
                    and <span class="yellow">powerful trading</span> platform, designed by expert traders to satisfy the needs of the beginner and
                    advanced traders.</p>
            </div>
            <div class="texto">
                <p>On INVESTINGAIN desktop app</p>
            </div>
            <div class="btns">
                <div class="title">
                    <p>Available now
                    </p>
                </div>
                <div class="btn">
                    <img src="../../../assets/img05_files/app-store.png" alt="">
                    <img src="../../../assets/img05_files/google-play.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>