<div class="leiaut flex-row">
    <div class="bloco-01">
        <div class="title">
            <p>Buy, Sell and
                build a better future
                with InvestinGain</p>
        </div>
        <div class="texto">
            <p>Start growing your passive income today.</p>
            <p>Invest from as low as 100 USD in various instruments.</p>
        </div>
        <div class="btn">
            <p class="btn-register">Register</p>
            <p class="btn-login">Login</p>
        </div>
    </div>
    <div class="bloco-02">
        <img src="../../../assets/celular.svg" alt="">
    </div>
</div>