<div class="timeline-container">
    <div class="timeline" [style.width]="timelinePosition"></div>
    <div class="timeline-buttons">
        <button (click)="showContent(1)" [ngClass]="{'active': botaoAtivo === 1}">Welcome</button>

        <button (click)="showContent(2)" [ngClass]="{'active': botaoAtivo === 2}">Fund</button>

        <button (click)="showContent(3)" [ngClass]="{'active': botaoAtivo === 3}">Invest</button>

        <button (click)="showContent(4)" [ngClass]="{'active': botaoAtivo === 4}">Start Trade</button>

        <button (click)="showContent(5)" [ngClass]="{'active': botaoAtivo === 5}">Support</button>
    </div>

    <div class="container">
        <div class="timeline-content">
            <ng-container *ngIf="selectedContent === 1">
                <div class="content-item">
                    <div class="title">
                        <p>How start InvestGain</p>
                    </div>
                    <div class="texto">
                        <p>Follow the video step by and find out out how to open your IG account easily and quick.</p>
                    </div>
                    <div class="btn-content">
                        <input type="email" placeholder="Email adress">
                        <button (click)="register()">Register</button>
                    </div>
                    <div class="container2">
                        <img src="../../../assets/img05_files/img09.svg" alt="">
                        <img src="../../../assets/img05_files/img10.svg" alt="">
                        <img src="../../../assets/img05_files/img11.svg" alt="">
                        <img src="../../../assets/img05_files/img12.svg" alt="">
                        <img src="../../../assets/img05_files/img13.svg" alt="">
                        <img src="../../../assets/img05_files/img14.svg" alt="">
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="selectedContent === 2">
                <div class="content-item">
                    <div class="title">
                        <p>Register</p>
                    </div>
                    <div class="texto">
                        <p>Choose an account type and submit your application It´s safe and fast and security</p>
                    </div>
                    <div class="btn">
                        <button>Register</button>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="selectedContent === 3">
                <div class="content-item">
                    <div class="title">
                        <p>Invest</p>
                    </div>
                    <div class="texto">
                        <p>Start investing in investment instruments that you like</p>
                    </div>
                    <div class="btn">
                        <button>Register</button>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="selectedContent === 4">
                <div class="content-item">
                    <div class="title">
                        <p>Start Trader</p>
                    </div>
                    <div class="texto">
                        <p>Track your profits in real time from anywhere</p>
                    </div>
                    <div class="btn">
                        <button>Register</button>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="selectedContent === 5">
                <div class="content-item">
                    <div class="title">
                        <p>5</p>
                    </div>
                    <div class="texto">
                        <p>Acompanhe seus lucros em tempo real de qualquer luga</p>
                    </div>
                    <div class="btn">
                        <button>Register</button>
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="video">
            <div class="bloco-video"></div>
            <!-- <video src="../../../assets/video2.mp4" autoplay loop muted></video> -->
        </div>


    </div>

</div>